* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: whitesmoke
}

.dashboard {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #1992d4;
  color: white;
  padding: 20px;
}

.logo {
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 10px 0;
  cursor: pointer;
}

.sidebar li.active {
  font-weight: bold;
}

/* Main */
.main {
  flex: 1;
  padding: 20px;
}

/* Topbar */
.topbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.topbar input {
  width: 80%;
  padding: 8px;
  border-radius: 20px;
  border: none;
}

/* Greeting */
.greeting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.actions button {
  margin-left: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  background: #1992d4;
  color: white;
  cursor: pointer;
}

/* Content layout */
.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}

/* Projects */
.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-left: 6px solid #f0b429;
  border-radius: 8px;
}

.card h4 {
  margin-bottom: 10px;
}

/* Right side */
.right .box {
  background: white;
  padding: 15px;
  border-radius: 8px;
}

.right h3 {
  margin-bottom: 10px;
}

.right hr {
  margin: 10px 0;
}

/* Sidebar icons */
.sidebar li {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Search bar */
.search {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #e2e8f0;
  padding: 8px 14px;
  border-radius: 20px;
}

.search input {
  border: none;
  background: transparent;
  outline: none;
}

/* Buttons with icons */
.actions button {
  /* display: flex; */
  align-items: center;
  gap: 8px;
}

/* Card icons */
.card-icons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 20px;
  color: #555;
  cursor: pointer;
}

/* Trending */
.trend {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

.trend i {
  font-size: 24px;
}