*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  outline: 5px solid red;
}


.hero {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(black, darkblue);
  position: relative;
  padding: 0.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.content {
  text-align: center;
}


.content h1{
font-size: 50px;
color: whitesmoke;
font-weight: 600;
transition: 0.5s;
}

.content h1:hover{
    -webkit-text-stroke: 2px whitesmoke;
    color: transparent;
}

.content a {
  text-decoration: none;
  display: inline-block;
  color: whitesmoke;
  font-size: 24px;
  border: 2px solid #fff;
  padding: 14px 50px;
  margin-top: 20px;
  transition: 0.5s;
}


text-decoration: none;
display: inline-block;
color: whitesmoke
font-size: 24px
border: 2px solid #fff
padding: 14px 50px;
margin-top: 20px;
transition: 0.5s;
}

.content a:hover {
  background: white;
  color: black;
}


.back-video{ 
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}


@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}


