*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    url{https://fonts.google.com/share?selection.family=Roboto:ital,wght@0,100..900;1,100..900|Stack+Sans+Text:wght@200..700}
    
}

.sectionOne{
    background-color: #1f2937;
    border: 2px solid #1f2937;
}

.headerOne{
    display: flex;
    justify-content: center;
    gap: 400px;
    padding-top: 20px;
}

h3{
    color: whitesmoke;
    font-weight: 700;
}

ul{
    display: flex;
    color: whitesmoke;
    list-style-type: none;
    gap: 20px;
    margin-right: 20px;
}

.groupContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.headerContainer{
    margin: 50px;
}

h2{
    font-size: 48px;
    color: whitesmoke;
    font-weight: 900;
}

#headertextOne{
    color: whitesmoke;
}

#headertextTwo{
    color: whitesmoke;
    padding: 75px
}

.imageContainer{
    background-color: grey;
    border: grey;
    margin: 50px;
    margin-right: 90px;
}

button{
    background-color: #3882f6;
    color: whitesmoke;
    padding: 2px 10px;
    border-radius: 5px;
    margin: 4px;
    box-shadow: none;
    border: #1f2937;
}

/* Section two */
.sectionTwo{
    color: whitesmoke;
}

#infoHeader{
    color: #1f2937;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    padding-top: 40px;
}

.groupdiv{
    display: flex;
    color: #1f2937;
    justify-content: center;
    padding: 50px;
}

.randomBox{
    margin-left: 30px;
    justify-content: center;
}

.square{
    border: 3px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

#textsectionTwo{
    font-size: 15px;
    font-weight: 200;
    text-align: center;
}

/* section three */
.sectionThree{
    background-color: gainsboro;
    color: #1f2937;
}

.boxThree{
    text-align: center;
    padding: 100px;
    font-size: 35px;
}

#name{
    padding-left: 300px;
}

/* section four */
.sectionFour{
    background-color: whitesmoke;
}

.divFour{
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    border: 2px solid #3882f6;
    margin: 100px;
}

.subdivFour{
    padding: 30px;
}

#textsubdivFour{
    color: whitesmoke;
}

#btnFour{
    border: 2px solid whitesmoke;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 30px;
}

/* footer */

footer{
    background-color: #1f2937;
    color: whitesmoke;
    text-align: center;
    padding: 20px;
}